@page
@model TaskManager.Pages.Task.IndexModel
@{
	ViewData["Title"] = "Index";
}

<h1>Task List</h1> 
<p>
	<a asp-page="Create">Create New Task</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>
				<form method="POST">
					Due Date
					<button type="submit" class="btn btn-link" asp-page-handler="Sort" asp-route-sortOrder="@Model.IsAscendingOrder">
						@if (Model.IsAscendingOrder)
						{
							<span>▲</span>
						}
						else
						{
							<span>▼</span>
						}
					</button>
				</form>
			</th>
			<th>Is Completed</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var task in Model.Tasks)
		{
			<tr>
				<td>@task.Title</td>
				<td>@task.Description</td>
				<td>@task.DueDate.ToShortDateString()</td>
				<td>@(task.IsCompleted ? "Yes" : "No")</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@task.TaskId">Edit</a> |
					<a asp-page="./Details" asp-route-id="@task.TaskId">Details</a> |
					<a asp-page="./Delete" asp-route-id="@task.TaskId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
